<div class="container py-4 px-3 px-lg-5">
  <h1 class="display-2 fw-bold text-center mb-5 custom-heading stagger-text">Nuestros Planes</h1>


  <% if @planes.empty? %>
    <p class="text-white-50 text-center mt-5">No hay planes disponibles actualmente.</p>
  <% else %>
    <div class="row g-4">
      <% @planes.each do |plan| %>
        <div class="col-12 col-md-6 col-lg-4 plan-item">
          <div class="card h-100 text-white border-0 planes-card">

            <div class="card-header border-bottom border-white py-3 <%= color_plan(plan) %>">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold mb-0"><%= plan.nombre %></h5>
                <% if plan.mega_oferta? %>
                  <h5 class="fw-bold mb-0">Mega-Oferta</h5>
                <% elsif plan.oferta? %>
                  <h5 class="fw-bold mb-0">Oferta</h5>
                <% end %>
              </div>
            </div>

            <div class="card-body">
            <p class="text-black small mb-3"><%= plan.descripcion.presence || "Sin descripción" %></p>
              <div class="row g-2">
                <div class="col-6">
                  <p class="fw-bold mb-1 small text-black">Precio</p>
                  <p class="mb-0 small text-black"><%= number_to_currency(plan.precio, unit: "€", separator: ",", delimiter: ".") %></p>
                </div>
                <div class="col-6">
                  <p class="fw-bold mb-1 small text-black">Participantes</p>
                  <p class="mb-0 small text-black">Hasta <%= plan.max_participantes %> personas</p>
                </div>
                <div class="col-12">
                  <p class="fw-bold mb-1 small text-black">Circuito</p>
                  <p class="mb-0 small text-black"><%= plan.circuito&.nombre || "Sin asignar" %></p>
                </div>
              </div>
              
            </div>

            <div class="card-footer border-top border-white py-3 d-flex justify-content-center ">
              <%= link_to reservar_plane_path(plan), class: "btn btn-customized fw-bolder btn-lg mt-3" do %>
                <i class="fa-solid fa-calendar-plus me-1"></i> Reservar
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>