<div class="container py-4 px-0 px-md-3 px-lg-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">

      <div class="card text-white border-0 custom-card">

        <div class="card-header border-bottom border-white py-3">
          <h2 class="fw-bold mb-0"><%= @plan.nombre %></h2>
        </div>

        <div class="card-body">
          <div class="row g-4">

            <div class="col-12 col-md-6">
              <p class="fw-bold mb-1">Precio</p>
              <p class="mb-0"><%= @plan.precio %></p>
            </div>

            <div class="col-12 col-md-6">
            <p class="fw-bold mb-1">Máximo de participante</p>
            <p class="mb-0"><%= @plan.max_participantes %></p>
            </div>
            
            <div class="col-12 col-md-6">
              <p class="fw-bold mb-1">Descripción</p>
              <p class="mb-0"><%= @plan.descripcion.presence || "Sin descripción" %></p>
            </div>

            <div class="col-12 col-md-6">
              <p class="fw-bold mb-1">Circuito</p>
              <p class="mb-0"><%= @plan.circuito.present? ? @plan.circuito.nombre : "Sin circuito asignado" %></p>
            </div>

            <div class="col-12 col-md-6">
              <p class="fw-bold mb-1">Estado</p>
              <span class="badge mt-1 <%= color_estado_plan(@plan) %>">
                <p class="mb-0"><%= @plan.estado.humanize %></p>
              </span>
            </div>



          </div>
        </div>

        <div class="card-footer border-top border-white d-flex gap-2 justify-content-center py-3">
          <%= link_to edit_plane_path(@plan), class: "btn btn-warning fw-bold" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to planes_path, class: "btn btn-secondary fw-bold" do %>
            <i class="fa-solid fa-arrow-left"></i> Volver
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>