<div class="container py-4 px-3 px-lg-5">
  <h1 class="fw-bold text-white mb-4">Usuarios</h1>

  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-3 mb-4">

    <div id="filtro"></div>
    
    <%= link_to new_user_path, class: "btn btn-success custom-add-button fw-bold d-flex align-items-center gap-2" do %>
        <span>Crear</span>
        <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>


  <div class="table-responsive">
    <table id="tabla-searchable" class="table custom-table text-center align-middle">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th data-orderable="false">Teléfono</th>
          <th>Tipo</th>
          <th data-orderable="false">Ciudad</th>
          <th data-orderable="false">Provincia</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.nombre %></td>
            <td><%= user.email %></td>
            <td><%= user.telefono.present? ? user.telefono : "No especificado" %></td>
            <td><%= user.tipo.capitalize%></td>
            <td><%= user.ciudad.present? ? user.ciudad : "No especificada" %></td>
            <td><%= user.provincia&.nombre || "No especificada" %></td>
            <td class="text-nowrap">
            <div class="d-flex gap-2 justify-content-center">
                <%= link_to user_path(user), class: "btn btn-sm btn-info fw-bold" do %>
                <i class="fa-solid fa-eye"></i>
                <% end %>

                <%= link_to edit_user_path(user), class: "btn btn-sm btn-warning fw-bold" do %>
                <i class="fa-solid fa-pen-to-square"></i>
                <% end %>

                <%= button_to user_path(user),
                    method: :delete,
                    data: { turbo: false},
                    class: "btn btn-sm btn-danger fw-bold" do %>
                <i class="fa-solid fa-trash"></i>
                <% end %>
            </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>