<div class="banner">

  <div class="banner__slider">
    <%= image_tag "banner.jpg", class: "banner__img banner__img--active", aria: { hidden: true } %>
    <%= image_tag "biplaza.png", class: "banner__img", aria: { hidden: true } %>
    <%= image_tag "trofeo.png", class: "banner__img", aria: { hidden: true } %>
  </div>


  <div class="banner__overlay">
    <div class="container text-center">
      <h2 class="banner__title stagger-text">
        Vive la emoción del karting al máximo
      </h2>
      <%= link_to "Reservar Ahora", index_cliente_planes_path, class: "btn btn-customized fw-bolder btn-lg mt-3" %>
    </div>
  </div>

</div>

<section class="info-section mt-5 py-5 custom-section">
  <div class="container">
   
    <h1 class="display-2 text-center fw-bold mb-5 custom-heading stagger-text">No te pierdas la experiencia</h1>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-black mb-4 mb-md-0">
        <h2 class="display-5 fw-bolder fst-italic custom-heading2">Karts de último modelo</h2>
        <p class="lead">
          En kartmania nos encanta que nuestros clientes vivan una experiencia inolvidable, 
          y para ello un factor muy importante es la calidad de los karts. En kartmania contamos
          con 4 tipos de karts distintos, que puden ser elegidos por los clientes bajo la recomendación 
          y aprobación de nuestro personal. Cada día nuestros mecánicos se encargan de que cada uno de 
          nuestros kart este en perfecto estado, para que lo dejes todo en la pista. Deja la adrenalina
          correr por tus venas, ven y disfruta!
        </p>
      </div>
      <div class="col-md-6">
          <%= image_tag "kart_ultimo_modelo.webp", class: "img-fluid rounded-4 shadow-lg" %>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 order-last order-md-first">
        <%= image_tag "familia.png", class: "img-fluid rounded-4 shadow-lg" %>
      </div>
      <div class="col-md-6 text-black mb-4 mb-md-0">
        <h2 class="display-5 fw-bolder fst-italic ">Disfruta con la familia</h2>
        <p class="lead">
          Si existe algo divertido en la vida, eso es compartir con la familia cada momento.
          Por eso en Kartmania nos encargamos que todos los miembros de tu familia puedan 
          disfrutar cada vez que nos visitan. Contamos con planes y karts para todas las edades
          y experiencia del corredor, además de nuestras instalaciones, como terreza, restaurante
          y sala de compartir. No dudes que alguien se quedara sin pasarlo bien, ven y visitanos,
          haz tu reserva ya!
        </p>
      </div>
    </div>

  </div>
</section>

<section class="circles-section py-5">
  <div class="container text-center text-white">
    
    <h1 class="display-4 mb-5 fw-bold custom-heading">Nuestros Estandartes</h1>

    <div class="row justify-content-center align-items-top">
      
      <div class="col-6 col-md-3 mb-4 circle-item">
        <div class="circle-wrapper mb-3">
          <%= image_tag "shield.png", class: "circle-img" %>
        </div>
        <p class="fw-bold">Seguridad</p>
      </div>

      <div class="col-6 col-md-3 mb-4 circle-item">
        <div class="circle-wrapper mb-3">
          <%= image_tag "velocidad.png", class: "circle-img" %>
        </div>
        <p class="fw-bold">Alta velocidad</p>
      </div>

      <div class="col-6 col-md-3 mb-4 circle-item">
        <div class="circle-wrapper mb-3">
          <%= image_tag "manos.png", class: "circle-img" %>
        </div>
        <p class="fw-bold">Juego limpio</p>
      </div>

      <div class="col-6 col-md-3 mb-4 circle-item">
        <div class="circle-wrapper mb-3">
          <%= image_tag "trofeo.png", class: "circle-img" %>
        </div>
        <p class="fw-bold">Competencia</p>
      </div>

    </div>
  </div>
</section>
