<div class="container py-4 px-3 px-lg-5">


  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-3 mb-4">

    <%= form_with url: circuitos_path, method: :get, data: { turbo: false } do |f| %>
      <div class="input-group">
        <%= f.text_field :search,
            value: params[:search],
            placeholder: "Filtrar por nombre",
            class: "form-control" %>
        <%= f.button type: :submit, class: "btn btn-outline-light" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    <% end %>

    <%= link_to new_circuito_path, class: "btn btn-success custom-add-button fw-bold d-flex align-items-center gap-2" do %>
      <span>Crear</span>
      <i class="fa-solid fa-plus"></i>
    <% end %>

  </div>

  <div class="table-responsive">
    <table class="table custom-table text-center align-middle">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Kilómetros</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @circuitos.each do |circuito| %>
          <tr>
            <td><%= circuito.nombre %></td>
            <td><%= circuito.kilometros %></td>
            <td><%= circuito.descripcion.presence || "Sin descripción" %></td>
            <td class="text-nowrap">
              <div class="d-flex gap-2 justify-content-center">


                <%= link_to circuito_path(circuito), class: "btn btn-sm btn-info fw-bold" do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>

                <%# Editar %>
                <%= link_to edit_circuito_path(circuito), class: "btn btn-sm btn-warning fw-bold" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>


                <button class="btn btn-sm btn-primary fw-bold" disabled>
                  <i class="fa-solid fa-flag"></i>
                </button>

                <button class="btn btn-sm btn-secondary fw-bold" disabled>
                  <i class="fa-solid fa-gear"></i>
                </button>


                <%= button_to circuito_path(circuito),
                    method: :delete,
                    data: { turbo: false },
                    class: "btn btn-sm btn-danger fw-bold" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>

              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>