<div class="container py-4 px-3 px-lg-5">
  <h1 class="fw-bold text-white mb-4">Participantes</h1>

  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-3 mb-4">

    <%= form_with url: participantes_path, method: :get, data: { turbo: false } do |f| %>
      <div class="input-group">
        <%= f.text_field :search,
            value: params[:search],
            placeholder: "Filtrar por nombre o torneo o estado",
            class: "form-control" %>
        <%= f.button type: :submit, class: "btn btn-outline-light" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    <% end %>

    <%= link_to new_participante_path, class: "btn btn-success custom-add-button fw-bold d-flex align-items-center gap-2" do %>
      <span>Crear</span>
      <i class="fa-solid fa-plus"></i>
    <% end %>

  </div>

  <div class="table-responsive">
    <table class="table custom-table text-center align-middle">
      <thead>
        <tr>
          <th>Solicitante</th>
          <th>Torneo</th>
          <th>Fecha solicitud</th>
          <th>Estado</th>
          <th>Fecha confirmacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @participantes.each do |participante| %>
          <tr>
            <td><%= participante.cliente.nombre  %></td>
            <td><%= participante.torneo.nombre  %></td>
            <td><%= participante.fecha_solicitud.strftime("%d/%m/%Y") %></td>
            <td><%= participante.estado.humanize %></td>
            <td><%= participante.fecha_confirmacion.present? ? participante.fecha_confirmacion.strftime("%d/%m/%Y"): "Sin asignar" %></td>
            <td class="text-nowrap">
              <div class="d-flex gap-2 justify-content-center">

                <%= link_to participante_path(participante), class: "btn btn-sm btn-info fw-bold" do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>

                <%= link_to edit_participante_path(participante), class: "btn btn-sm btn-warning fw-bold" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>

                <%= button_to participante_path(participante),
                    method: :delete,
                    data: { turbo: false },
                    class: "btn btn-sm btn-danger fw-bold" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>

              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>