<div class="container-fluid container-md py-4 px-3 px-lg-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">

      <div class="card text-white border-0 custom-card" >
        

        <div class="card-header border-bottom border-white py-3">
        <h2 class="fw-bold mb-0"><%= @participante.cliente.nombre %>-<%= @participante.torneo.nombre %></h2>
        </div>


        <div class="card-body">
          <div class="row g-4">
          
            <div class="col-12 col-md-6">
                <p class="fw-bold mb-1">Solicitante</p>
                <p class="mb-0"><%=  @participante.cliente.nombre  %></p>
            </div>

            <div class="col-12 col-md-6">
                <p class="fw-bold mb-1">Torneo solicitado</p>
                <p class="mb-0"><%=  @participante.torneo.nombre  %></p>
            </div>

            <div class="col-12 col-md-6">
              <p class="fw-bold mb-1">Fecha de solicitud</p>
              <p class="mb-0"><%= @participante.fecha_solicitud.strftime("%d/%m/%Y") %></p>
            </div>

            <div class="col-12 col-md-6">
              <p class="fw-bold mb-1">Fecha de confirmacion</p>
              <p class="mb-0"><%= @participante.fecha_confirmacion.present? ? @participante.fecha_confirmacion.strftime("%d/%m/%Y"): "Sin asignar"  %></p>
            </div>
            
            <div class="col-12 col-md-6">
                <p class="fw-bold mb-1">Estado</p>
                <span class="badge mt-1 <%= color_estado_participante(@participante) %>">
                <p class="mb-0"><%= @participante.estado.humanize %></p>
                </span>
            </div>
            

            
          </div>
        </div>


        <div class="card-footer border-top border-white d-flex gap-2 justify-content-center py-3">
        <%= link_to edit_participante_path(@participante), class: "btn btn-warning fw-bold" do %>
            <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to participantes_path, class: "btn btn-secondary fw-bold" do %>
            <i class="fa-solid fa-arrow-left"></i> Volver
        <% end %>
        </div>

      </div>

    </div>
  </div>
</div>